{# Template for host.v links file #}
Require Import links.RocqOfRust.
Require Import alloy_primitives.bits.links.address.
Require Import alloy_primitives.bits.links.fixed.
Require Import alloy_primitives.bytes.links.mod.
Require Import alloy_primitives.links.aliases.
Require Import alloy_primitives.log.links.mod.
Require Import core.links.option.
Require Import core.links.result.
Require Import revm.revm_context_interface.links.cfg.
Require Import revm.revm_context_interface.links.block.
Require Import revm.revm_context_interface.host.
Require Import revm.revm_context_interface.links.journaled_state.
Require Import revm.revm_context_interface.links.transaction.
Require Import ruint.links.lib.

Module LoadError.
  Inductive t : Set :=
  | DBError
  | ColdLoadSkipped.

  Instance IsLink : Link t := {
    Φ := Ty.path "revm_context_interface::host::LoadError";
    φ x :=
      match x with
      | DBError =>
          Value.StructTuple "revm_context_interface::host::LoadError::DBError" [] [] []
      | ColdLoadSkipped =>
          Value.StructTuple "revm_context_interface::host::LoadError::ColdLoadSkipped" [] [] []
      end
  }.

  Instance IsOfTy : OfTy.C (Ty.path "revm_context_interface::host::LoadError") :=
  {
    A := t;
    eq := eq_refl;
  }.

  Instance IsOfValueWith_DBError :
    OfValueWith.C t (Value.StructTuple "revm_context_interface::host::LoadError::DBError" [] [] []) :=
  {
    value := DBError;
    eq := eq_refl;
  }.

  Instance IsOfValue_DBError :
    OfValue.C (Value.StructTuple "revm_context_interface::host::LoadError::DBError" [] [] []) :=
  {
    value := DBError;
    eq := eq_refl;
  }.

  Instance IsOfValueWith_ColdLoadSkipped :
    OfValueWith.C t (Value.StructTuple "revm_context_interface::host::LoadError::ColdLoadSkipped" [] [] []) :=
  {
    value := ColdLoadSkipped;
    eq := eq_refl;
  }.

  Instance IsOfValue_ColdLoadSkipped :
    OfValue.C (Value.StructTuple "revm_context_interface::host::LoadError::ColdLoadSkipped" [] [] []) :=
  {
    value := ColdLoadSkipped;
    eq := eq_refl;
  }.
End LoadError.
Export (hints) LoadError.

(*
pub struct SStoreResult {
    pub original_value: U256,
    pub present_value: U256,
    pub new_value: U256,
}
*)
Module SStoreResult.
{{ macros.record_body("revm_context_interface::host::SStoreResult", [
  ("original_value", "aliases.U256.t"),
  ("present_value", "aliases.U256.t"),
  ("new_value", "aliases.U256.t"),
]) }}
End SStoreResult.
Export (hints) SStoreResult.

(*
pub struct SelfDestructResult {
    pub had_value: bool,
    pub target_exists: bool,
    pub previously_destroyed: bool,
}
*)
Module SelfDestructResult.
{{ macros.record_body("revm_context_interface::context::SelfDestructResult", [
  ("had_value", "bool"),
  ("target_exists", "bool"),
  ("previously_destroyed", "bool"),
]) }}
End SelfDestructResult.
Export (hints) SelfDestructResult.

(*
pub trait Host: TransactionGetter + BlockGetter + CfgGetter {
    fn load_account_delegated(&mut self, address: Address) -> Option<AccountLoad>;
    fn block_hash(&mut self, number: u64) -> Option<B256>;
    fn beneficiary(&self) -> Address;
    fn block_number(&self) -> U256;
    fn chain_id(&self) -> U256;
    fn basefee(&self) -> U256;
    fn blob_gasprice(&self) -> U256;
    fn difficulty(&self) -> U256;
    fn prevrandao(&self) -> Option<U256>;
    fn balance(&mut self, address: Address) -> Option<StateLoad<U256>>;
    fn code(&mut self, address: Address) -> Option<Eip7702CodeLoad<Bytes>>;
    fn code_hash(&mut self, address: Address) -> Option<Eip7702CodeLoad<B256>>;
    fn sload(&mut self, address: Address, index: U256) -> Option<StateLoad<U256>>;
    fn sstore(
        &mut self,
        address: Address,
        index: U256,
        value: U256,
    ) -> Option<StateLoad<SStoreResult>>;
    fn tload(&mut self, address: Address, index: U256) -> U256;
    fn tstore(&mut self, address: Address, index: U256, value: U256);
    fn log(&mut self, log: Log);
    fn selfdestruct(
        &mut self,
        address: Address,
        target: Address,
        skip_cold_load: bool,
    ) -> Result<StateLoad<SelfDestructResult>, LoadError>;
}
*)
Module Host.
  Module Types.
    Record t : Type := {
      Transaction : Set;
      TransactionTypes : Transaction.Types.t;
      Cfg : Set; (* For CfgGetter *)
      Spec : Set; (* For CfgGetter *)
      Block : Set; (* For BlockGetter *)
    }.

    Class AreLinks (types : t) : Set := {
      H_Transaction :: Link types.(Transaction);
      H_TransactionTypes :: Transaction.Types.AreLinks types.(TransactionTypes);
      H_Cfg :: Link types.(Cfg);
      H_Spec :: Link types.(Spec);
      H_Block :: Link types.(Block);
    }.

    Definition to_BlockGetter_types (types : t) : BlockGetter.Types.t :=
      {|
        BlockGetter.Types.Block := types.(Block);
      |}.

    Instance AreLinks_to_BlockGetter_types (types : t) (H : AreLinks types) :
      BlockGetter.Types.AreLinks (to_BlockGetter_types types) :=
      {|
        BlockGetter.Types.H_Block := _;
      |}.

    Definition to_CfgGetter_types (types : t) : CfgGetter.Types.t :=
      {|
        CfgGetter.Types.Cfg := types.(Cfg);
        CfgGetter.Types.Spec := types.(Spec);
      |}.

    Instance AreLinks_to_CfgGetter_types (types : t) (H : AreLinks types) :
      CfgGetter.Types.AreLinks (to_CfgGetter_types types) :=
      {|
        CfgGetter.Types.H_Cfg := _;
        CfgGetter.Types.H_Spec := _;
      |}.
  End Types.
  Export (hints) Types.

  Definition trait (Self : Set) `{Link Self} : TraitHeader.t :=
    {|
      TraitHeader.trait_name := "revm_context_interface::host::Host";
      TraitHeader.trait_consts := [];
      TraitHeader.trait_tys := [];
      TraitHeader.self_ty := Φ Self;
    |}.

  (* fn load_account_delegated(&mut self, address: Address) -> Option<AccountLoad>; *)
  Class Method_load_account_delegated (Self : Set) `{Link Self} : Set := {
    load_account_delegated : PolymorphicFunction.t;
    load_account_delegated_is_method :: IsTraitMethod.C (trait Self) "load_account_delegated" load_account_delegated;
    run_load_account_delegated (self : '&mut Self) (address : Address.t) ::
      Run.Trait load_account_delegated [] [] [ φ self; φ address ] (option AccountLoad.t);
  }.

  (* fn block_hash(&mut self, number: u64) -> Option<B256>; *)
  Class Method_block_hash (Self : Set) `{Link Self} : Set := {
    block_hash : PolymorphicFunction.t;
    block_hash_is_method :: IsTraitMethod.C (trait Self) "block_hash" block_hash;
    run_block_hash (self : '&mut Self) (number : u64) ::
      Run.Trait block_hash [] [] [ φ self; φ number ] (option aliases.B256.t);
  }.

  (* fn beneficiary(&self) -> Address; *)
  Class Method_beneficiary (Self : Set) `{Link Self} : Set := {
    beneficiary : PolymorphicFunction.t;
    beneficiary_is_method :: IsTraitMethod.C (trait Self) "beneficiary" beneficiary;
    run_beneficiary (self : '& Self) ::
      Run.Trait beneficiary [] [] [ φ self ] Address.t;
  }.

  (* fn block_number(&self) -> U256; *)
  Class Method_block_number (Self : Set) `{Link Self} : Set := {
    block_number : PolymorphicFunction.t;
    block_number_is_method :: IsTraitMethod.C (trait Self) "block_number" block_number;
    run_block_number (self : '& Self) ::
      Run.Trait block_number [] [] [ φ self ] aliases.U256.t;
  }.

  (* fn chain_id(&self) -> U256; *)
  Class Method_chain_id (Self : Set) `{Link Self} : Set := {
    chain_id : PolymorphicFunction.t;
    chain_id_is_method :: IsTraitMethod.C (trait Self) "chain_id" chain_id;
    run_chain_id (self : '& Self) ::
      Run.Trait chain_id [] [] [ φ self ] aliases.U256.t;
  }.

  (* fn basefee(&self) -> U256; *)
  Class Method_basefee (Self : Set) `{Link Self} : Set := {
    basefee : PolymorphicFunction.t;
    basefee_is_method :: IsTraitMethod.C (trait Self) "basefee" basefee;
    run_basefee (self : '& Self) ::
      Run.Trait basefee [] [] [ φ self ] aliases.U256.t;
  }.

  (* fn blob_gasprice(&self) -> U256; *)
  Class Method_blob_gasprice (Self : Set) `{Link Self} : Set := {
    blob_gasprice : PolymorphicFunction.t;
    blob_gasprice_is_method :: IsTraitMethod.C (trait Self) "blob_gasprice" blob_gasprice;
    run_blob_gasprice (self : '& Self) ::
      Run.Trait blob_gasprice [] [] [ φ self ] aliases.U256.t;
  }.

  (* fn difficulty(&self) -> U256; *)
  Class Method_difficulty (Self : Set) `{Link Self} : Set := {
    difficulty : PolymorphicFunction.t;
    difficulty_is_method :: IsTraitMethod.C (trait Self) "difficulty" difficulty;
    run_difficulty (self : '& Self) ::
      Run.Trait difficulty [] [] [ φ self ] aliases.U256.t;
  }.

  (* fn prevrandao(&self) -> Option<U256>; *)
  Class Method_prevrandao (Self : Set) `{Link Self} : Set := {
    prevrandao : PolymorphicFunction.t;
    prevrandao_is_method :: IsTraitMethod.C (trait Self) "prevrandao" prevrandao;
    run_prevrandao (self : '& Self) ::
      Run.Trait prevrandao [] [] [ φ self ] (option aliases.U256.t);
  }.

  (* fn balance(&mut self, address: Address) -> Option<StateLoad<U256>>; *)
  Class Method_balance (Self : Set) `{Link Self} : Set := {
    balance : PolymorphicFunction.t;
    balance_is_method :: IsTraitMethod.C (trait Self) "balance" balance;
    run_balance (self : '&mut Self) (address : Address.t) ::
      Run.Trait balance [] [] [ φ self; φ address ] (option (StateLoad.t aliases.U256.t));
  }.

  (* fn code(&mut self, address: Address) -> Option<Eip7702CodeLoad<Bytes>>; *)
  Class Method_code (Self : Set) `{Link Self} : Set := {
    code : PolymorphicFunction.t;
    code_is_method :: IsTraitMethod.C (trait Self) "code" code;
    run_code (self : '&mut Self) (address : Address.t) ::
      Run.Trait code [] [] [ φ self; φ address ] (option (Eip7702CodeLoad.t Bytes.t));
  }.

  (* fn code_hash(&mut self, address: Address) -> Option<Eip7702CodeLoad<B256>>; *)
  Class Method_code_hash (Self : Set) `{Link Self} : Set := {
    code_hash : PolymorphicFunction.t;
    code_hash_is_method :: IsTraitMethod.C (trait Self) "code_hash" code_hash;
    run_code_hash (self : '&mut Self) (address : Address.t) ::
      Run.Trait code_hash [] [] [ φ self; φ address ] (option (Eip7702CodeLoad.t aliases.B256.t));
  }.

  (* fn sload(&mut self, address: Address, index: U256) -> Option<StateLoad<U256>>; *)
  Class Method_sload (Self : Set) `{Link Self} : Set := {
    sload : PolymorphicFunction.t;
    sload_is_method :: IsTraitMethod.C (trait Self) "sload" sload;
    run_sload (self : '&mut Self) (address : Address.t) (index : aliases.U256.t) ::
      Run.Trait sload [] [] [ φ self; φ address; φ index ] (option (StateLoad.t aliases.U256.t));
  }.

  (*
  fn sstore(
      &mut self,
      address: Address,
      index: U256,
      value: U256,
  ) -> Option<StateLoad<SStoreResult>>;
  *)
  Class Method_sstore (Self : Set) `{Link Self} : Set := {
    sstore : PolymorphicFunction.t;
    sstore_is_method :: IsTraitMethod.C (trait Self) "sstore" sstore;
    run_sstore (self : '&mut Self) (address : Address.t) (index : aliases.U256.t) (value : aliases.U256.t) ::
      Run.Trait sstore [] [] [ φ self; φ address; φ index; φ value ] (option (StateLoad.t SStoreResult.t));
  }.

  (* fn tload(&mut self, address: Address, index: U256) -> U256; *)
  Class Method_tload (Self : Set) `{Link Self} : Set := {
    tload : PolymorphicFunction.t;
    tload_is_method :: IsTraitMethod.C (trait Self) "tload" tload;
    run_tload (self : '&mut Self) (address : Address.t) (index : aliases.U256.t) ::
      Run.Trait tload [] [] [ φ self; φ address; φ index ] aliases.U256.t;
  }.

  (* fn tstore(&mut self, address: Address, index: U256, value: U256); *)
  Class Method_tstore (Self : Set) `{Link Self} : Set := {
    tstore : PolymorphicFunction.t;
    tstore_is_method :: IsTraitMethod.C (trait Self) "tstore" tstore;
    run_tstore (self : '&mut Self) (address : Address.t) (index : aliases.U256.t) (value : aliases.U256.t) ::
      Run.Trait tstore [] [] [ φ self; φ address; φ index; φ value ] unit;
  }.

  (* fn log(&mut self, log: Log); *)
  Class Method_log (Self : Set) `{Link Self} : Set := {
    log : PolymorphicFunction.t;
    log_is_method :: IsTraitMethod.C (trait Self) "log" log;
    run_log (self : '&mut Self) (log' : Log.t LogData.t) ::
      Run.Trait log [] [] [ φ self; φ log' ] unit;
  }.

  (*
  fn selfdestruct(
    &mut self,
    address: Address,
    target: Address,
    skip_cold_load: bool,
  ) -> Result<StateLoad<SelfDestructResult>, LoadError>;
  *)
  Class Method_selfdestruct (Self : Set) `{Link Self} : Set := {
    selfdestruct : PolymorphicFunction.t;
    selfdestruct_is_method :: IsTraitMethod.C (trait Self) "selfdestruct" selfdestruct;
    run_selfdestruct
      (self : '&mut Self)
      (address : Address.t)
      (target : Address.t)
      (skip_cold_load : bool) ::
      Run.Trait
        selfdestruct
        [] []
        [ φ self; φ address; φ target; φ skip_cold_load ]
        (Result.t (StateLoad.t SelfDestructResult.t) LoadError.t);
  }.

  Class Run
      (Self : Set) `{Link Self}
      (types : Types.t) `{Types.AreLinks types} :
      Set := {
    run_TransactionGetter_for_Self ::
      TransactionGetter.Run Self types.(Types.Transaction) types.(Types.TransactionTypes);
    run_BlockGetter_for_Self :: BlockGetter.Run Self (Types.to_BlockGetter_types types);
    run_CfgGetter_for_Self :: CfgGetter.Run Self (Types.to_CfgGetter_types types);
    method_load_account_delegated :: Method_load_account_delegated Self;
    method_block_hash :: Method_block_hash Self;
    method_beneficiary :: Method_beneficiary Self;
    method_block_number :: Method_block_number Self;
    method_chain_id :: Method_chain_id Self;
    method_basefee :: Method_basefee Self;
    method_blob_gasprice :: Method_blob_gasprice Self;
    method_difficulty :: Method_difficulty Self;
    method_prevrandao :: Method_prevrandao Self;
    method_balance :: Method_balance Self;
    method_code :: Method_code Self;
    method_code_hash :: Method_code_hash Self;
    method_sload :: Method_sload Self;
    method_sstore :: Method_sstore Self;
    method_tload :: Method_tload Self;
    method_tstore :: Method_tstore Self;
    method_log :: Method_log Self;
    method_selfdestruct :: Method_selfdestruct Self;
  }.
End Host.
Export (hints) Host.

Module Impl_Host_for_RefMut.
  Instance method_beneficiary
      (Self : Set) `{Link Self}
      (method_beneficiary : Host.Method_beneficiary Self) :
    Host.Method_beneficiary ('&mut Self).
  Proof.
    unshelve econstructor.
    - exact (host.underscore.Impl_revm_context_interface_host_Host_where_revm_context_interface_host_Host_T_where_core_marker_Sized_T_for_ref_mut_T.beneficiary (Φ Self)).
    - constructor.
      econstructor.
      + apply host.underscore.Impl_revm_context_interface_host_Host_where_revm_context_interface_host_Host_T_where_core_marker_Sized_T_for_ref_mut_T.Implements.
      + reflexivity.
    - intros self.
      constructor.
      destruct method_beneficiary.
      run_symbolic.
  Defined.

  Instance method_prevrandao
      (Self : Set) `{Link Self}
      (method_prevrandao : Host.Method_prevrandao Self) :
    Host.Method_prevrandao ('&mut Self).
  Proof.
    unshelve econstructor.
    - exact (host.underscore.Impl_revm_context_interface_host_Host_where_revm_context_interface_host_Host_T_where_core_marker_Sized_T_for_ref_mut_T.prevrandao (Φ Self)).
    - constructor.
      econstructor.
      + apply host.underscore.Impl_revm_context_interface_host_Host_where_revm_context_interface_host_Host_T_where_core_marker_Sized_T_for_ref_mut_T.Implements.
      + reflexivity.
    - intros self.
      constructor.
      destruct method_prevrandao.
      run_symbolic.
  Defined.

  Instance method_difficulty
      (Self : Set) `{Link Self}
      (method_difficulty : Host.Method_difficulty Self) :
    Host.Method_difficulty ('&mut Self).
  Proof.
    unshelve econstructor.
    - exact (host.underscore.Impl_revm_context_interface_host_Host_where_revm_context_interface_host_Host_T_where_core_marker_Sized_T_for_ref_mut_T.difficulty (Φ Self)).
    - constructor.
      econstructor.
      + apply host.underscore.Impl_revm_context_interface_host_Host_where_revm_context_interface_host_Host_T_where_core_marker_Sized_T_for_ref_mut_T.Implements.
      + reflexivity.
    - intros self.
      constructor.
      destruct method_difficulty.
      run_symbolic.
  Defined.

  Instance method_blob_gasprice
      (Self : Set) `{Link Self}
      (method_blob_gasprice : Host.Method_blob_gasprice Self) :
    Host.Method_blob_gasprice ('&mut Self).
  Proof.
    unshelve econstructor.
    - exact (host.underscore.Impl_revm_context_interface_host_Host_where_revm_context_interface_host_Host_T_where_core_marker_Sized_T_for_ref_mut_T.blob_gasprice (Φ Self)).
    - constructor.
      econstructor.
      + apply host.underscore.Impl_revm_context_interface_host_Host_where_revm_context_interface_host_Host_T_where_core_marker_Sized_T_for_ref_mut_T.Implements.
      + reflexivity.
    - intros self.
      constructor.
      destruct method_blob_gasprice.
      run_symbolic.
  Defined.

  Instance method_basefee
      (Self : Set) `{Link Self}
      (method_basefee : Host.Method_basefee Self) :
    Host.Method_basefee ('&mut Self).
  Proof.
    unshelve econstructor.
    - exact (host.underscore.Impl_revm_context_interface_host_Host_where_revm_context_interface_host_Host_T_where_core_marker_Sized_T_for_ref_mut_T.basefee (Φ Self)).
    - constructor.
      econstructor.
      + apply host.underscore.Impl_revm_context_interface_host_Host_where_revm_context_interface_host_Host_T_where_core_marker_Sized_T_for_ref_mut_T.Implements.
      + reflexivity.
    - intros self.
      constructor.
      destruct method_basefee.
      run_symbolic.
  Defined.

  Instance method_chain_id
      (Self : Set) `{Link Self}
      (method_chain_id : Host.Method_chain_id Self) :
    Host.Method_chain_id ('&mut Self).
  Proof.
    unshelve econstructor.
    - exact (host.underscore.Impl_revm_context_interface_host_Host_where_revm_context_interface_host_Host_T_where_core_marker_Sized_T_for_ref_mut_T.chain_id (Φ Self)).
    - constructor.
      econstructor.
      + apply host.underscore.Impl_revm_context_interface_host_Host_where_revm_context_interface_host_Host_T_where_core_marker_Sized_T_for_ref_mut_T.Implements.
      + reflexivity.
    - intros self.
      constructor.
      destruct method_chain_id.
      run_symbolic.
  Defined.

  Instance method_block_number
      (Self : Set) `{Link Self}
      (method_block_number : Host.Method_block_number Self) :
    Host.Method_block_number ('&mut Self).
  Proof.
    unshelve econstructor.
    - exact (host.underscore.Impl_revm_context_interface_host_Host_where_revm_context_interface_host_Host_T_where_core_marker_Sized_T_for_ref_mut_T.block_number (Φ Self)).
    - constructor.
      econstructor.
      + apply host.underscore.Impl_revm_context_interface_host_Host_where_revm_context_interface_host_Host_T_where_core_marker_Sized_T_for_ref_mut_T.Implements.
      + reflexivity.
    - intros self.
      constructor.
      destruct method_block_number.
      run_symbolic.
  Defined.
End Impl_Host_for_RefMut.
Export (hints) Impl_Host_for_RefMut.
