{# Template for SharedMemory links file #}
Require Import links.RocqOfRust.
Require Import alloc.links.alloc.
Require Import alloc.vec.links.mod.
Require Import core.links.array.
Require Import core.links.cmp.
Require Import core.links.option.
Require Import core.num.links.mod.
Require Import revm_interpreter.links.gas.
Require Import revm_interpreter.links.interpreter_types.
Require Import revm_interpreter.gas.links.calc.
Require Import revm_interpreter.interpreter.shared_memory.

(*
  pub struct SharedMemory {
      buffer: Vec<u8>,
      checkpoints: Vec<usize>,
      last_checkpoint: usize,
      memory_limit: u64,
  }
*)
Module SharedMemory.
{{ macros.record_body("revm_interpreter::interpreter::shared_memory::SharedMemory", [
  ("buffer", "Vec.t u8 Global.t"),
  ("checkpoints", "Vec.t usize Global.t"),
  ("last_checkpoint", "usize"),
  ("memory_limit", "option u64"),
]) }}
End SharedMemory.

(* pub const fn num_words(len: usize) -> usize *)
Instance run_num_words (len : usize) :
  Run.Trait
    interpreter.shared_memory.num_words [] [] [ φ len ]
    usize.
Proof.
  constructor.
  run_symbolic.
Defined.
Global Opaque run_num_words.

Instance run_resize_memory_cold
    {Memory Synthetic Synthetic1 : Set}
    `{Link Memory} `{Link Synthetic} `{Link Synthetic1}
    (run_MemoryTrait_for_Memory : MemoryTrait.Run Memory Synthetic Synthetic1)
    (gas : '&mut Gas.t)
    (memory : '&mut Memory)
    (new_num_words : usize) :
  Run.Trait
    interpreter.shared_memory.resize_memory_cold [] [ Φ Memory ]
    [ φ gas; φ memory; φ new_num_words ]
    bool.
Proof.
  constructor.
  destruct run_MemoryTrait_for_Memory.
  destruct method_resize.
  run_symbolic.
Defined.
Global Opaque run_resize_memory_cold.

Instance run_resize_memory
    {Memory Synthetic Synthetic1 : Set}
    `{Link Memory} `{Link Synthetic} `{Link Synthetic1}
    (run_MemoryTrait_for_Memory : MemoryTrait.Run Memory Synthetic Synthetic1)
    (gas : '&mut Gas.t)
    (memory : '&mut Memory)
    (offset len : usize) :
  Run.Trait
    interpreter.shared_memory.resize_memory [] [ Φ Memory ]
    [ φ gas; φ memory; φ offset; φ len ]
    bool.
Proof.
  constructor.
  pose proof run_MemoryTrait_for_Memory as run_MemoryTrait_for_Memory_copy.
  destruct run_MemoryTrait_for_Memory.
  destruct method_resize.
  run_symbolic.
  Unshelve.
  all: eapply (@run_resize_memory_cold Memory Synthetic Synthetic1 H H0 H1 run_MemoryTrait_for_Memory_copy).
Defined.
Global Opaque run_resize_memory.
