{# Template for EofBody links file #}
Require Import RocqOfRust.RocqOfRust.
Require Import links.M.
Require Import alloc.links.alloc.
Require Import alloc.vec.links.mod.
Require Import alloy_primitives.bytes.links.mod.
Require Import core.links.clone.
Require Import core.links.default.
Require Import core.links.option.
Require Import core.slice.links.index.
Require Import core.slice.links.mod.
Require Import revm.revm_bytecode.eof.links.types_section.
Require Import revm_bytecode.eof.body.

Module EofBody.
{{ macros.record_body("revm_bytecode::eof::body::EofBody", [
  ("code", "Bytes.t"),
  ("code_section", "Vec.t usize Global.t"),
  ("container_section", "Vec.t Bytes.t Global.t"),
  ("data_section", "Bytes.t"),
  ("is_data_filled", "bool"),
  ("types_section", "Vec.t TypesSection.t Global.t"),
]) }}
End EofBody.
Export (hints) EofBody.
