{# Template for EofHeader links file #}
Require Import links.RocqOfRust.
Require Import alloc.links.alloc.
Require Import alloc.vec.links.mod.
Require Import alloc.vec.links.mod.
Require Import core.links.result.

Module EofHeader.
{{ macros.record_body("revm_bytecode::eof::header::EofHeader", [
  ("types_size", "u16"),
  ("code_sizes", "Vec.t u16 Global.t"),
  ("container_sizes", "Vec.t u16 Global.t"),
  ("data_size", "u16"),
  ("sum_code_sizes", "usize"),
  ("sum_container_sizes", "usize"),
]) }}
End EofHeader.
Export (hints) EofHeader.
