{# Template for Ordering links file #}
Require Import links.RocqOfRust.
Require Import core.cmp.

(*
    pub enum Ordering {
        Less = -1,
        Equal = 0,
        Greater = 1,
    }
*)
Module Ordering.
{{ macros.enum_body("core::cmp::Ordering", [
  ("Less", []),
  ("Equal", []),
  ("Greater", []),
]) }}
End Ordering.
Export (hints) Ordering.

Module Impl_Ordering.
  Definition Self : Set := Ordering.t.

  Instance run_as_raw (self : Self) :
    Run.Trait cmp.Impl_core_cmp_Ordering.as_raw [] [] [ φ self ]
      (Integer.t IntegerKind.I8).
  Admitted.
  Global Opaque run_as_raw.

  Instance run_is_eq (self : Self) :
    Run.Trait cmp.Impl_core_cmp_Ordering.is_eq [] [] [ φ self ] bool.
  Admitted.
  Global Opaque run_is_eq.

  Instance run_is_ne (self : Self) :
    Run.Trait cmp.Impl_core_cmp_Ordering.is_ne [] [] [ φ self ] bool.
  Admitted.
  Global Opaque run_is_ne.

  Instance run_is_lt (self : Self) :
    Run.Trait cmp.Impl_core_cmp_Ordering.is_lt [] [] [ φ self ] bool.
  Admitted.
  Global Opaque run_is_lt.

  Instance run_is_gt (self : Self) :
    Run.Trait cmp.Impl_core_cmp_Ordering.is_gt [] [] [ φ self ] bool.
  Admitted.
  Global Opaque run_is_gt.

  Instance run_is_le (self : Self) :
    Run.Trait cmp.Impl_core_cmp_Ordering.is_le [] [] [ φ self ] bool.
  Admitted.
  Global Opaque run_is_le.

  Instance run_is_ge (self : Self) :
    Run.Trait cmp.Impl_core_cmp_Ordering.is_ge [] [] [ φ self ] bool.
  Admitted.
  Global Opaque run_is_ge.
End Impl_Ordering.
Export (hints) Impl_Ordering.
