{# Template for ruint from.v links file #}
{# Generates TryFrom implementations for various integer types #}
Require Import RocqOfRust.RocqOfRust.
Require Import RocqOfRust.links.M.
Require Import core.convert.links.mod.
Require Import core.fmt.links.mod.
Require Import core.fmt.links.rt.
Require Import core.links.panicking.
Require Import core.links.result.
Require Import core.num.links.error.
Require Import core.num.links.mod.
Require Import ruint.links.lib.
Require Import ruint.from.

(*
  pub enum ToUintError<T> {
      ValueTooLarge(usize, T),
      ValueNegative(usize, T),
      NotANumber(usize),
  }
*)
(* Note: ToUintError<T> is polymorphic, kept manually for now *)
Module ToUintError.
  Inductive t (T : Set) : Set :=
  | ValueTooLarge (size : usize) (value : T)
  | ValueNegative (size : usize) (value : T)
  | NotANumber (size : usize).
  Arguments ValueTooLarge {T} size value.
  Arguments ValueNegative {T} size value.
  Arguments NotANumber {T} size.

  Global Instance IsLink (T : Set) `{Link T} : Link (t T) := {
    Φ := Ty.apply (Ty.path "ruint::from::ToUintError") [] [ Φ T ];
    φ x :=
      match x with
      | ValueTooLarge size value =>
          Value.StructTuple "ruint::from::ToUintError::ValueTooLarge" [] [ Φ usize; Φ T ] [ φ size; φ value ]
      | ValueNegative size value =>
          Value.StructTuple "ruint::from::ToUintError::ValueNegative" [] [ Φ usize; Φ T ] [ φ size; φ value ]
      | NotANumber size =>
          Value.StructTuple "ruint::from::ToUintError::NotANumber" [] [ Φ usize ] [ φ size ]
      end
  }.

  Definition of_ty (T_ty : Ty.t) :
    OfTy.t T_ty ->
    OfTy.t (Ty.apply (Ty.path "ruint::from::ToUintError") [] [ T_ty ]).
  Proof.
    intros [T].
    eapply OfTy.Make with (A := t T).
    subst.
    reflexivity.
  Defined.
  Smpl Add eapply of_ty : of_ty.
End ToUintError.
Export (hints) ToUintError.

(*
  pub trait UintTryFrom<T>: Sized {
      #[doc(hidden)]
      fn uint_try_from(value: T) -> Result<Self, ToUintError<Self>>;
  }
*)
Module UintTryFrom.
  Definition trait (Self T : Set) `{Link Self} `{Link T} : TraitHeader.t :=
    {|
      TraitHeader.trait_name := "ruint::from::UintTryFrom";
      TraitHeader.trait_consts := [];
      TraitHeader.trait_tys := [Φ T];
      TraitHeader.self_ty := Φ Self;
    |}.

  Class Method_uint_try_from (Self T : Set) `{Link Self} `{Link T} : Set := {
    uint_try_from : PolymorphicFunction.t;
    uint_try_from_is_method :: IsTraitMethod.C (trait Self T) "uint_try_from" uint_try_from;
    run_uint_try_from (value : T) :: Run.Trait uint_try_from [] [] [ φ value ] (Result.t Self (ToUintError.t Self));
  }.

  Class Run (Self : Set) (T : Set) `{Link Self} `{Link T} : Set := {
    method_uint_try_from :: Method_uint_try_from Self T;
  }.
End UintTryFrom.
Export (hints) UintTryFrom.

(*
  impl<const BITS: usize, const LIMBS: usize, T> UintTryFrom<T> for Uint<BITS, LIMBS>
  where
      Self: TryFrom<T, Error = ToUintError<Self>>,
*)
Module UintTryFrom_T_for_Uint_where_TryFrom.
  Definition Self (BITS LIMBS : usize) : Set :=
    Uint.t BITS LIMBS.

  Instance run_uint_try_from {BITS LIMBS : usize} {T : Set} `{Link T}
      `{!TryFrom.Run (Self BITS LIMBS) T (ToUintError.t (Self BITS LIMBS))}
      (value : T) :
    Run.Trait
      (from.Impl_ruint_from_UintTryFrom_where_core_convert_TryFrom_ruint_Uint_BITS_LIMBS_T_T_for_ruint_Uint_BITS_LIMBS.uint_try_from (φ BITS) (φ LIMBS) (Φ T))
      [] [] [φ value]
      (Result.t (Self BITS LIMBS) (ToUintError.t (Self BITS LIMBS))).
  Proof.
    constructor.
    run_symbolic.
  Admitted.
  Global Opaque run_uint_try_from.

  Instance method_uint_try_from {BITS LIMBS : usize} {T : Set} `{Link T}
      `{!TryFrom.Run (Self BITS LIMBS) T (ToUintError.t (Self BITS LIMBS))} :
    UintTryFrom.Method_uint_try_from (Self BITS LIMBS) T.
  Proof.
    eexists.
    { constructor.
      eapply IsTraitMethod.Defined.
      { apply from.Impl_ruint_from_UintTryFrom_where_core_convert_TryFrom_ruint_Uint_BITS_LIMBS_T_T_for_ruint_Uint_BITS_LIMBS.Implements. }
      { reflexivity. }
    }
    { apply run_uint_try_from. }
  Defined.

  Instance run (BITS LIMBS : usize) (T : Set) `{Link T}
      `{!TryFrom.Run (Self BITS LIMBS) T (ToUintError.t (Self BITS LIMBS))} :
    UintTryFrom.Run (Self BITS LIMBS) T :=
  {}.
End UintTryFrom_T_for_Uint_where_TryFrom.
Export (hints) UintTryFrom_T_for_Uint_where_TryFrom.

(* impl<const BITS: usize, const LIMBS: usize> TryFrom<u64> for Uint<BITS, LIMBS> *)
Module TryFrom_u64_for_Uint.
  Definition Self (BITS LIMBS : usize) : Set :=
    Uint.t BITS LIMBS.

  Definition Error (BITS LIMBS : usize) : Set :=
    ToUintError.t (Self BITS LIMBS).

  Lemma Error_IsAssociated (BITS LIMBS : usize) :
    IsTraitAssociatedType
      "core::convert::TryFrom" [] [Φ u64] (Φ (Self BITS LIMBS)) "Error"
      (Φ (Error BITS LIMBS)).
  Proof.
    eexists; split.
    { apply from.Impl_core_convert_TryFrom_u64_for_ruint_Uint_BITS_LIMBS.Implements. }
    { reflexivity. }
  Qed.

  Instance run_try_from (BITS LIMBS : usize) (value : u64) :
    Run.Trait
      (from.Impl_core_convert_TryFrom_u64_for_ruint_Uint_BITS_LIMBS.try_from (φ BITS) (φ LIMBS))
      [] [] [ φ value ]
      (Result.t (Self BITS LIMBS) (ToUintError.t (Self BITS LIMBS))).
  Proof.
    constructor.
    (* FIX: infinite loop, might require giving a precise type definition for Uint *)
    (* run_symbolic. *)
  Admitted.
  Global Opaque run_try_from.

  Instance method_try_from {BITS LIMBS : usize} :
    TryFrom.Method_try_from (Self BITS LIMBS) u64 (Error BITS LIMBS).
  Proof.
    eexists.
    { constructor.
      eapply IsTraitMethod.Defined.
      { apply from.Impl_core_convert_TryFrom_u64_for_ruint_Uint_BITS_LIMBS.Implements. }
      { reflexivity. }
    }
    { typeclasses eauto. }
  Defined.

  Instance run (BITS LIMBS : usize) :
    TryFrom.Run (Self BITS LIMBS) u64 (Error BITS LIMBS) :=
  {}.
End TryFrom_u64_for_Uint.
Export (hints) TryFrom_u64_for_Uint.

(* impl<const BITS: usize, const LIMBS: usize> TryFrom<u128> for Uint<BITS, LIMBS> *)
Module TryFrom_u128_for_Uint.
  Definition Self (BITS LIMBS : usize) : Set :=
    Uint.t BITS LIMBS.

  Definition Error (BITS LIMBS : usize) : Set :=
    ToUintError.t (Self BITS LIMBS).

  Instance run_try_from (BITS LIMBS : usize) (value : u128) :
    Run.Trait
      (from.Impl_core_convert_TryFrom_u128_for_ruint_Uint_BITS_LIMBS.try_from (φ BITS) (φ LIMBS))
      [] [] [ φ value ]
      (Result.t (Self BITS LIMBS) (ToUintError.t (Self BITS LIMBS))).
  Proof.
    constructor.
  Admitted.
  Global Opaque run_try_from.

  Instance method_try_from {BITS LIMBS : usize} :
    TryFrom.Method_try_from (Self BITS LIMBS) u128 (Error BITS LIMBS).
  Proof.
    eexists.
    { constructor.
      eapply IsTraitMethod.Defined.
      { apply from.Impl_core_convert_TryFrom_u128_for_ruint_Uint_BITS_LIMBS.Implements. }
      { reflexivity. }
    }
    { typeclasses eauto. }
  Defined.

  Instance run (BITS LIMBS : usize) :
    TryFrom.Run (Self BITS LIMBS) u128 (Error BITS LIMBS) :=
  {}.
End TryFrom_u128_for_Uint.
Export (hints) TryFrom_u128_for_Uint.

{# Macro for TryFrom implementations #}
{% macro try_from_for_uint(type_name, rocq_type, use_destruct=true) %}
(* impl<const BITS: usize, const LIMBS: usize> TryFrom<{{ type_name }}> for Uint<BITS, LIMBS> *)
Module TryFrom_{{ type_name }}_for_Uint.
  Definition Self (BITS LIMBS : usize) : Set :=
    Uint.t BITS LIMBS.

  Definition Error (BITS LIMBS : usize) : Set :=
    ToUintError.t (Self BITS LIMBS).

  Instance run_try_from (BITS LIMBS : usize) (value : {{ rocq_type }}) :
    Run.Trait
      (from.Impl_core_convert_TryFrom_{{ type_name }}_for_ruint_Uint_BITS_LIMBS.try_from (φ BITS) (φ LIMBS))
      [] [] [ φ value ]
      (Result.t (Self BITS LIMBS) (ToUintError.t (Self BITS LIMBS))).
  Proof.
    constructor.
{% if use_destruct %}    destruct (TryFrom_u64_for_Uint.run BITS LIMBS).
    run_symbolic.
  Defined.
{% else %}  Admitted.
{% endif %}  Global Opaque run_try_from.

  Instance method_try_from {BITS LIMBS : usize} :
    TryFrom.Method_try_from (Self BITS LIMBS) {{ rocq_type }} (Error BITS LIMBS).
  Proof.
    eexists.
    { constructor.
      eapply IsTraitMethod.Defined.
      { apply from.Impl_core_convert_TryFrom_{{ type_name }}_for_ruint_Uint_BITS_LIMBS.Implements. }
      { reflexivity. }
    }
    { typeclasses eauto. }
  Defined.

  Instance run (BITS LIMBS : usize) :
    TryFrom.Run (Self BITS LIMBS) {{ rocq_type }} (Error BITS LIMBS) :=
  {}.
End TryFrom_{{ type_name }}_for_Uint.
Export (hints) TryFrom_{{ type_name }}_for_Uint.

{% endmacro %}
{# Generate TryFrom implementations for remaining types #}
{# Unsigned types use destruct proof, signed types use Admitted for now #}
{{ try_from_for_uint("bool", "bool") -}}
{{ try_from_for_uint("u8", "u8") -}}
{{ try_from_for_uint("u16", "u16") -}}
{{ try_from_for_uint("u32", "u32") -}}
{{ try_from_for_uint("usize", "usize") -}}
{# Signed types use Admitted for now - proofs don't complete #}
{{ try_from_for_uint("i8", "i8", false) -}}
{{ try_from_for_uint("i16", "i16", false) -}}
{{ try_from_for_uint("i32", "i32", false) -}}
{{ try_from_for_uint("i64", "i64", false) -}}
{{ try_from_for_uint("i128", "i128", false) -}}
{{ try_from_for_uint("isize", "isize", false) -}}
Module Impl_Uint.
  (* Uint<BITS, LIMBS> *)
  Definition Self (BITS LIMBS : usize) : Set :=
    Uint.t BITS LIMBS.

  (*
  pub fn from<T>(value: T) -> Self
        where
            Self: UintTryFrom<T>,
  *)
  Instance run_from
    (BITS LIMBS : usize)
    (T : Set) `{Link T}
    {run_UintTryFrom_for_Self : UintTryFrom.Run (Self BITS LIMBS) T}
    (value : T) :
    Run.Trait
      (from.Impl_ruint_Uint_BITS_LIMBS.from (φ BITS) (φ LIMBS)) [] [ Φ T ] [ φ value ]
      (Self BITS LIMBS).
  Proof.
    constructor.
    destruct run_UintTryFrom_for_Self.
    run_symbolic.
  Admitted.
  Global Opaque run_from.
End Impl_Uint.
Export (hints) Impl_Uint.

(*
pub enum FromUintError<T> {
    Overflow(usize, T, T),
}
*)
Module FromUintError.
  Parameter t : forall (T : Set), Set.

  Parameter to_value : forall {T : Set}, t T -> Value.t.

  Instance IsLink (T : Set) `{Link T} : Link (t T) :=
  {
    Φ := Ty.apply (Ty.path "ruint::from::FromUintError") [] [ Φ T ];
    φ := to_value;
  }.

  Definition of_ty (T_ty : Ty.t) :
    OfTy.t T_ty ->
    OfTy.t (Ty.apply (Ty.path "ruint::from::FromUintError") [] [ T_ty ]).
  Proof.
    intros [T].
    eapply OfTy.Make with (A := t T).
    subst.
    reflexivity.
  Defined.
  Smpl Add eapply of_ty : of_ty.
End FromUintError.
Export (hints) FromUintError.

Module TryFrom_Uint_for_u64.
  Definition Self : Set :=
    u64.

  Instance run_try_from (BITS LIMBS : usize) (value : Impl_Uint.Self BITS LIMBS) :
    Run.Trait
      (from.Impl_core_convert_TryFrom_ruint_Uint_BITS_LIMBS_for_u64.try_from (φ BITS) (φ LIMBS))
      [] [] [ φ value ]
      (Result.t Self (FromUintError.t u64)).
  Proof.
    constructor.
    run_symbolic.
  Admitted.
  Global Opaque run_try_from.

  Instance method_try_from {BITS LIMBS : usize} :
    TryFrom.Method_try_from Self (Impl_Uint.Self BITS LIMBS) (FromUintError.t u64).
  Proof.
    eexists.
    { constructor.
      eapply IsTraitMethod.Defined.
      { apply from.Impl_core_convert_TryFrom_ruint_Uint_BITS_LIMBS_for_u64.Implements. }
      { reflexivity. }
    }
    { typeclasses eauto. }
  Defined.

  Instance run (BITS LIMBS : usize) :
    TryFrom.Run Self (Impl_Uint.Self BITS LIMBS) (FromUintError.t u64) :=
  {}.
End TryFrom_Uint_for_u64.
Export (hints) TryFrom_Uint_for_u64.
