{# Template for Eof and EofDecodeError links file #}
Require Import links.RocqOfRust.
Require Import alloc.links.alloc.
Require Import core.links.result.
Require Import alloy_primitives.bytes.links.mod.
Require Import revm.revm_bytecode.eof.links.body_EofBody.
Require Import revm.revm_bytecode.eof.links.header.

Module Eof.
{{ macros.record_body("revm_bytecode::eof::Eof", [
  ("header", "EofHeader.t"),
  ("body", "EofBody.t"),
  ("raw", "Bytes.t"),
]) }}
End Eof.
Export (hints) Eof.

Module EofDecodeError.
{{ macros.enum_body("revm_bytecode::eof::EofDecodeError", [
  ("MissingInput", []),
  ("MissingBodyWithoutData", []),
  ("DanglingData", []),
  ("InvalidCodeInfo", []),
  ("InvalidCodeInfoSize", []),
  ("InvalidEOFMagicNumber", []),
  ("InvalidEOFVersion", []),
  ("InvalidTypesKind", []),
  ("InvalidCodeKind", []),
  ("InvalidTerminalByte", []),
  ("InvalidDataKind", []),
  ("InvalidKindAfterCode", []),
  ("MismatchCodeAndInfoSize", []),
  ("NonSizes", []),
  ("ShortInputForSizes", []),
  ("ZeroSize", []),
  ("TooManyCodeSections", []),
  ("ZeroCodeSections", []),
  ("TooManyContainerSections", []),
  ("InvalidEOFSize", []),
]) }}
End EofDecodeError.
Export (hints) EofDecodeError.
