{# Template for call_inputs links file #}
Require Import links.RocqOfRust.
Require Import alloy_primitives.bits.links.address.
Require Import alloy_primitives.bits.links.fixed_FixedBytes.
Require Import alloy_primitives.bytes.links.mod.
Require Import alloy_primitives.links.aliases.
Require Import core.links.option.
Require Import core.ops.links.range.
Require Import revm.revm_bytecode.links.bytecode.
Require Import revm.revm_interpreter.interpreter_action.call_inputs.
Require Import ruint.links.lib.

#[export] Existing Instance Option.IsLink.
#[export] Existing Instance Pair.IsLink.
#[export] Existing Instance FixedBytes.IsLink.

(*
  /// Call value.
  #[derive(Clone, Debug, PartialEq, Eq, Hash)]
  #[cfg_attr(feature = "serde", derive(serde::Serialize, serde::Deserialize))]
  pub enum CallValue {
      /// Concrete value, transferred from caller to callee at the end of the transaction.
      Transfer(U256),
      /// Apparent value, that is **not** actually transferred.
      ///
      /// Set when in a `DELEGATECALL` call type, and used by the `CALLVALUE` opcode.
      Apparent(U256),
  }
*)
Module CallValue.
{{ macros.enum_body("revm_interpreter::interpreter_action::call_inputs::CallValue", [
  ("Transfer", [("x", "aliases.U256.t")]),
  ("Apparent", [("x", "aliases.U256.t")]),
]) }}
End CallValue.
Export (hints) CallValue.

(*
  pub enum CallScheme {
      /// `CALL`.
      Call,
      /// `CALLCODE`
      CallCode,
      /// `DELEGATECALL`
      DelegateCall,
      /// `STATICCALL`
      StaticCall,
      /// `EXTCALL`
      ExtCall,
      /// `EXTSTATICCALL`
      ExtStaticCall,
      /// `EXTDELEGATECALL`
      ExtDelegateCall,
  }
*)
Module CallScheme.
{{ macros.enum_body("revm_interpreter::interpreter_action::call_inputs::CallScheme", [
  ("Call", []),
  ("CallCode", []),
  ("DelegateCall", []),
  ("StaticCall", []),
  ("ExtCall", []),
  ("ExtStaticCall", []),
  ("ExtDelegateCall", []),
]) }}
End CallScheme.
Export (hints) CallScheme.

(*
  pub enum CallInput {
      SharedBuffer(Range<usize>),
      Bytes(Bytes),
  }
*)
Module CallInput.
{{ macros.enum_body("revm_interpreter::interpreter_action::call_inputs::CallInput", [
  ("SharedBuffer", [("range", "Range.t usize")]),
  ("Bytes", [("bytes", "Bytes.t")]),
]) }}
End CallInput.
Export (hints) CallInput.

(*
impl CallInput {
    pub fn len(&self) -> usize
*)
Module Impl_CallInput.
  Definition Self : Set :=
    CallInput.t.

  Instance run_len (self : '& Self) :
    Run.Trait
      interpreter_action.call_inputs.Impl_revm_interpreter_interpreter_action_call_inputs_CallInput.len
      [] [] [φ self] usize.
  Admitted.
  Global Opaque run_len.
End Impl_CallInput.
Export (hints) Impl_CallInput.

(*
  pub struct CallInputs {
      pub input: CallInput,
      pub return_memory_offset: Range<usize>,
      pub gas_limit: u64,
      pub bytecode_address: Address,
      pub known_bytecode: Option<(B256, Bytecode)>,
      pub target_address: Address,
      pub caller: Address,
      pub value: CallValue,
      pub scheme: CallScheme,
      pub is_static: bool,
  }
*)
Module CallInputs.
{{ macros.record_body("revm_interpreter::interpreter_action::call_inputs::CallInputs", [
  ("bytecode_address", "Address.t"),
  ("caller", "Address.t"),
  ("gas_limit", "u64"),
  ("input", "CallInput.t"),
  ("is_static", "bool"),
  ("known_bytecode", "option (aliases.B256.t * Bytecode.t)"),
  ("return_memory_offset", "Range.t usize"),
  ("scheme", "CallScheme.t"),
  ("target_address", "Address.t"),
  ("value", "CallValue.t"),
]) }}
End CallInputs.
Export (hints) CallInputs.
