{# Template for ProgramError links file #}
Require Import RocqOfRust.RocqOfRust.
Require Import RocqOfRust.links.M.
Require Import core.links.result.
Require Import anza_xyz_solana_sdk.program_error.lib.

Module ProgramError.
{{ macros.enum_body("solana_program_error::ProgramError", [
  ("Custom", [("n", "u32")]),
  ("InvalidArgument", []),
  ("InvalidInstructionData", []),
  ("InvalidAccountData", []),
  ("AccountDataTooSmall", []),
  ("InsufficientFunds", []),
  ("IncorrectProgramId", []),
  ("MissingRequiredSignature", []),
  ("AccountAlreadyInitialized", []),
  ("UninitializedAccount", []),
  ("NotEnoughAccountKeys", []),
  ("AccountBorrowFailed", []),
  ("MaxSeedLengthExceeded", []),
  ("InvalidSeeds", []),
  ("BorshIoError", []),
  ("AccountNotRentExempt", []),
  ("UnsupportedSysvar", []),
  ("IllegalOwner", []),
  ("MaxAccountsDataAllocationsExceeded", []),
  ("InvalidRealloc", []),
  ("MaxInstructionTraceLengthExceeded", []),
  ("BuiltinProgramsMustConsumeComputeUnits", []),
  ("InvalidAccountOwner", []),
  ("ArithmeticOverflow", []),
  ("Immutable", []),
  ("IncorrectAuthority", []),
]) }}
End ProgramError.
Export (hints) ProgramError.

(* ProgramResult = Result<(), ProgramError> *)
Module ProgramResult.
  Definition t : Set := Result.t unit ProgramError.t.
End ProgramResult.
